.container-rules {
    background-image: url(/bg1.png);
    height: 100vh;
}
.main-rules {
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 43px;
    color: #9370DB;
}
ul {
    margin-top: 30px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 43px;
    color: #9370DB;
}
.link_rules {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 43.35px;
    color: #9370DB;
    text-decoration: none;
    margin-right: 30px;
}
.footer_h1 {
    font-family: 'Jost',sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #868686;
}
.link_rules:hover {
    border-bottom: 2px solid #9370DB;
}
.footer {
    display: flex;
    align-items: center;
 }
@media screen and (max-width: 470px) {
    .link_rules {
        font-size: 20px;
    }
    ul {
        font-size: 20px;
    }
}