* {
    margin: 0;
    padding: 0;
}
.container {
    background-image: url("/bg1.png");
    height: 983px;
}
.header {
    padding-top: 44px;
    margin: 0 auto;
    max-width: 1200px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 43.35px;
    color: #7B68EE;
}
.link {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 43.35px;
    color: #9370DB;
    text-decoration: none;
    margin-right: 30px;
    position: relative;
}
.link:hover::after { 
    content: " ";
    width: 60px;
    height: 4px;
    border-radius: 4px;
    background-color: #9370DB;
    position: absolute;
    left: 0;
    bottom: -5px;
}
.burger {
    display: none;
    margin-right: 15px;
}
.main {
    margin: 283px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.left_information h1 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
}
.friend {
    margin-top: 42px;
    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}
.fp {
    color: #9370DB;
}
.buttonOnline {
    margin-top: 47px;
    display: flex;
    align-items: center;
}
.button {
    width: 301px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #9370DB;
    border-radius: 12px;
    transition: all .5s;
}
.button p {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 46px;
    color: #FFFFFF;
}
.button img {
    padding-left: 14px;
}
.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.online {
    display: flex;
    align-items: center;
    margin-left: 43px;
}
.circle {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9370DB;
}
.online h2 {
    margin-left: 7px;
    font-family: 'Jost',sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.online span {
    color: #9370DB;
}
.right {
    margin-top: 123px;
    position: relative;
    padding-right: 45%;
}
.right img {
    position: absolute;
    left: 0;
    top: -230px;
    max-width: 100%;
    height: auto;
}
.scroll {
    margin-top: 150px;
    display: flex;
    align-items: center;
}
.scroll p {
    margin-left: 22px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}
.how_to_start {
    background-image: url("/bg2.png");
    margin: 0 auto;
}
.hts_container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}
.hts_h1 {
    font-family: 'Jost',sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
}
.cards {
    margin-top: 93px;
    display: flex;
}
.card1 {
    /*background-image: url('/step1.png');*/
    background-repeat: no-repeat;
    width: 368.8px;
    text-align: center;
}
.card_content {
    padding: 114px 48px 137px 48px;
}
.cardh1 {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
}
.cardp {
    padding-top: 40px;
    font-family: 'Jost',sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.card2 {
    /*margin-left: 48px;*/
    /*background-image: url('/step2.png');*/
    background-repeat: no-repeat;
    width: 368.8px;
    text-align: center;
}
.card3 {
    /*margin-left: 48px;*/
    /*background-image: url('/step3.png');*/
    background-repeat: no-repeat;
    width: 368.8px;
    text-align: center;
}
.cardButton {
    margin: 0 auto;
    margin-top: 47px;
    width: 222px;
    height: 62px;
}
.cardButtonP {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.cardButton img {
    margin-left: 9.6px;
    width: 19.2px;
    height: 19px;
}
.Button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #9370DB;
    padding: 17px 0px 18px 0px;
    border-radius: 5px;
}
.Button:hover {
    cursor: pointer;
}
.separator {
    width: 100%;
    content: " ";
    background: rgba(255, 255, 255, 0.5);
    height: 2px;
}
footer {
    padding-top: 72px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 60px;
}
.fantasticpower {
    font-family: 'Jost',sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}
.vk {
    margin-right: 30px;
}

.active .link {
    display: block; /* Задний фон */
    color: #fff; /* Цвет текста */
  }
  
  /* Стили для раскрытия меню на весь экран */
  .nav.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Задний фон */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .nav.active .link {
    margin: 10px;
  }

.close-menu {
    position: absolute;
}
@media screen and (max-width: 1215px) {

}
@media screen and (max-width: 969px)
{   
    .main {
        justify-content: center;
        align-items: center;
    }
    .right {
        display: none;
    }
    .cards {
        display: inline;
    }
}
@media screen and (max-width: 750px) {
    .link {
        display: none;
    }
    .logo {
        margin-left: 15px;
    }
    .burger {
        font-size: 30px;
        display: block;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }
}
@media screen and (max-width: 420px) {
    .main {
        margin-top: 142px;
        margin-left: 15px;
    }
    .buttonOnline {
        flex-direction: column;
    }
    .online {
        margin-top: 15px;
        margin-left: 0;

    }
    .hts_h1 {
        margin-left: 15px;
    }
    footer {
        margin-left: 15px;
        flex-direction: column;
    }
    .social {
        margin-top: 15px;
    }
}