.main-dayz {
    max-width: 1200px;
    margin: auto;
}
.dayz-rules h1 {
    margin-top: 51px;
    font-family: 'Jost',sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 51px;
    color: #000000;
}
.dayz-rules p {
    margin-top: 21px;
    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}
.mark {
    color: #FF1493;
}

@media screen and (max-width: 750px) {
    .dayz-rules {
        padding-left: 15px;
        padding-right: 15px;
    }
}